
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Georgia", serif;
    background: url('img/фото.jpg') no-repeat center top;
    background-size: cover;
    color: #333;
}
nav {
    padding: 18px 20px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    backdrop-filter: blur(4px);
}

nav a {
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 16px;
    border-radius: 8px;

    border: 2px solid #b0004d;
    color: #b0004d;
    transition: 0.3s;
    font-size: 18px;
}

nav a:hover,
nav a.active {
    background: #b0004d;
    color: #fff;
}

.main-button {
    background: #b0004d;
    color: #fff !important;
}

.main-button:hover {
    background: #d40060;
}
header {
    text-align: center;
    background: rgba(255, 224, 235, 0.8);
    padding: 60px 20px;
    backdrop-filter: blur(5px);
}

header h1 {
    font-size: 48px;
    color: #b0004d;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
}
.hero {
    position: relative;
    text-align: center;
    padding: 120px 20px;
    background: rgba(255, 224, 235, 0.8);
    backdrop-filter: blur(4px);
}

.hero h1 {
    font-size: 52px;
    color: #b0004d;
    margin-bottom: 10px;
}

.hero p {
    font-size: 22px;
    color: #333;
    margin-bottom: 25px;
}

.hero a {
    display: inline-block;
    padding: 14px 28px;
    background: #b0004d;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.hero a:hover {
    background: #d40060;
}
.cards {
    max-width: 1250px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    padding: 0 20px;
}

.card {
    display: block;
    background: #ffffffd6;
    padding: 25px;
    text-decoration: none;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    transition: 0.3s;
    color: #333;
    backdrop-filter: blur(4px);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.16);
}

.card img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
}

.card h3 {
    color: #b0004d;
    font-size: 22px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555;
    line-height: 1.4;
}
footer {
    margin-top: 80px;
    padding: 40px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    font-size: 16px;
    color: #333;
    border-top: 2px solid #b0004d;
}
